* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  
}
img{
  border-radius: 5px;
}
nav {
  background-color: skyblue;
}
nav ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding-top: 10px;
}
#logo {
  font-style: italic;

  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 40px;
}
li a {
  text-decoration: none;
  color: black;
  font-size: 20px;

  padding: 5px 10px;
  font-family: "Times New Roman", Times, serif;
}
#list li a:hover:not(#logo) {
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 5px dodgerblue;

  padding: 5px 10px;
}
.bg img {
  width: clamp(350px, 620px, 100%);
  height: 350px;
}
figcaption{
  text-align: center;
  font-size: 20px;
  font-style: italic;
  border: 2px solid white;
  margin: 10px;
  color: white;
  background-color: rgb(124, 218, 255);
  padding: 10px;
  border-radius: 4px;
}
nav img {
  display: none;
}
@media screen and (max-width: 680px) {
  nav ul {
    justify-content: center;
    display: flex;
    background-color: skyblue;
    width: 100%;
    position: relative;
    display: none;
    padding: 0px;
  }
  #list li {
    border: 1px solid white;
    padding: 5px 0px;
    text-align: center;
    width: 100%;
  }
  #btn {
    display: block;
    position: absolute;
    top: 2px;
    right: 20px;
    width: 35px;
    z-index: 1;
  }
  header .mobHeader {
    position: relative;
    text-align: center;
    background-color: rgb(187, 182, 252);
    display: block;
    min-height: 40px;
  }
  #logo {
    display: none;
  }
  .container .searchBar {
    position: relative;
    top: 0px;
  }
}

.mobHeader {
  display: none;
}
span img {
  display: none;
}

.searchBar {
  position: relative;
  top: -10px;
}

input[type="search"] {
  margin: 5px 0px;
  width: 100%;
  height: 38px;
  border: 2px solid dodgerblue;
  outline: none;
  font-size: 18px;
  padding: 0px 10px;
  border-radius: 50px;
}
.searchBar button {
  background-color: dodgerblue;
  border: none;
  outline: none;
  width: 75px;
  height: 38px;
  border-radius: 0px 50px 50px 0px;
  position: absolute;
  right: 10px;
  top: 5px;
}

button:hover {
  background-color: rgb(17, 0, 255);
  color: black;
}

.grids {
  display: grid;
  grid-template-rows: repeat(2, minmax(310px, min-content));
  grid-auto-rows: 300px;
  grid-template-columns: repeat(auto-fill, 320px);
  grid-template-columns: repeat(auto-fit, 320px);
  grid-template-columns: repeat(auto-fit, minmax(320px));
  row-gap: 20px;
  column-gap: 25px;
  justify-content: center;
  justify-content: space-around;
  padding-top: 20px;
}

.grid {
  background-color: teal;
  border-radius: 10px;
  color: wheat;
  margin-top: 10px;
  transition: 0.5s ease-in-out;
}
.grid:hover {
  transform: scale(1.1);
  border: 2px solid rgb(115, 171, 255);
}
.grid span {
  text-align: center;
  color: white;
  display: block;
}

.grid img {
  width: 100%;
  height: 90%;
  background-position: center;
  background-size: contain;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

footer {
  width: 100%;
  height: 400px;
  position: relative;
  background-color: gray;
}
footer ul {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  padding: 10px;
}
#quickLinks {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  color: black;
}
footer ul #quickLinks a {
  font-size: 18px;
  font-family: sans-serif;
  padding: 10px;
}
footer li a {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}

blockquote {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  font-size: 20px;
  font-family: Georgia;
  font-style: italic;
  letter-spacing: 2px;
  opacity: 0.7;
}
.socMediaLinks i {
  font-size: 40px;
  color: rgb(255, 255, 255);
  padding: 0px 20px;
}
.socMediaLinks {
  display: flex;
  justify-content: center;

  transform: translateY(100px);
}
.socMediaLinks a:hover{
  
  border-radius: 5%;
  height: 40px;
  background-color: dodgerblue;
}
.footer {
  background-color: black;
  color: white;
}

.usersReview div {
  display: inline-block;
  margin: 10px;
}
.usersReview p {
  font-size: 15px;
  margin-top: -10px;
  margin-left: 10px;
}
.usersReview img {
  margin-top: -70px;
}
.usersReview {
  border: 2px solid red;
}
.usersReview span {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
}
.usersReview .Username {
  font-size: 18px;
}
.usersReview .date {
  font-size: 12px;
  opacity: 0.5;
  font-style: italic;
}
.Blogs i {
  font-size: 12px;
  font-weight: lighter;
  font-family: Arial, Helvetica, sans-serif;
}
.Blogs span {
  font-size: 15px;

  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

#footerimg {
  margin: 5px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}
.logoFooter p {
  font-size: 18px;
  padding: 5px;
}
