* {
    padding: 0;
    margin: 0;
  }
  h2 ,h3 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
   
  }
  p {
    margin-left: 20px;
    line-height: 35px;
    padding: 10px;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  li{
    list-style-type: disc;
    line-height: 30px;
    font-size: 20px;
    padding: 5px;
    margin-left: 80px;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
  .img img {
    width: 320px;
    height: 250px;
    position: relative;
    left: 55px;
    padding: 15px;
    border-radius: 25px;
  }
  .img {
    width: 100%;
    margin: auto;
  }